<html class="k-webkit k-webkit56">
<head>

    <meta charset="utf-8">
    <title>Angular 2 App | ng2-webpack</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">


    <base href="/">
    <link href="~/dist/css/vendor.css" rel="stylesheet" />
</head>
<body>
    <my-app>Loading</my-app>
    <script src="~/dist/polyfills.js"></script>
    <script src="~/dist/vendor.js"></script>
    <script src="~/dist/app.js"></script>
</body>
</html>