<html class="k-webkit k-webkit56">
<head>

    <meta charset="utf-8">
    <title>Angular 2 App | ng2-webpack</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="css/site.css" rel="stylesheet">
    <link href="css/kendo.common.min.css" rel="stylesheet">
    <link href="css/kendo.default.min.css" rel="stylesheet">
    <link href="css/kendo.default.mobile.min.css" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet">

    <!--<base href="/">-->
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    {{1+2}}
    <test></test>
    <user></user>
    <br>
    <loading-spinner></loading-spinner>
    <script type="text/javascript" src="/dist/js/polyfills.js"></script>
    <script type="text/javascript" src="/dist/js/vendor.js"></script>
    <script type="text/javascript" src="/dist/js/app.js"></script>
</body>
</html>